body {
    width: 100%;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}

/* --- HEADER --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 1;
    background-color: white;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.logo, .titulo nav {
    display: flex;
    align-items: center;
    height: 32px;
}

.titulo nav p {
    padding-left: 16px;
}

header strong {
    text-transform: uppercase;
    font-weight: 900;
    color: black;
}
header p {
    color: grey;
}


/* --- MAIN --- */

main {
    position: relative;
    top: 64px;
}

/* --- LEARN SOMETHING NEW EVERYDAY --- */

.learn {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.learn img {
    width: 60%;
    margin: 32px 24px;
}

.learn_right {
    display: flex;
    flex-flow: column wrap;
    width: 33%;
}

.title {
    font-size: 3.5vw;
    line-height: 4vw;
    font-weight: 900;
    color: #606060 !important;
    margin-bottom: 32px;
}

.subtitle {
    font-size: 1.75vw;
    line-height: 2.5vw;
    font-weight: 600;
    color: darkslategray;
    margin-bottom: 24px;
}

.comenzar {
    width: 85%;
    border: 1px solid #404040;
    background-color: #606060;
    padding: 8px 0;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.5vw;
}

/* --- IT DOESN'T HURT TO KEEP PRACTICING --- */

.hurt {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.hurt_left {
    display: flex;
    flex-flow: column nowrap;
    width: 64%;
}

.hurt_left img {
    width: 93.75%;
    margin: 32px 24px;
}

.hurt_left p {
    color: grey;
}

.hurt_right {
    display: flex;
    flex-flow: column nowrap;
    width: 36%;
}

.recuadro {
    display: flex;
    flex-direction: row nowrap;
    border: 1px solid black;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.hurt_right img {
    width: 35%;
    height: auto;
    margin: 16px;
}



.info_title {
    color: #404040;
    font-weight: bold;
}

/* --- FOOTER --- */
