body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* --- HEADER --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 1;
    background-color: white;
    font-size: 1.25rem;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.logo, .titulo nav {
    display: flex;
    align-items: center;
    height: 32px;
}

.titulo nav p {
    padding-left: 16px;
}

header strong {
    text-transform: uppercase;
    font-weight: 900;
    color: black;
}
header p {
    color: grey;
}


/* --- MAIN --- */

main {
    position: relative;
    top: 64px;
}

section {
    border: 0.5px solid lightgrey;
}

/* --- LEARN SOMETHING NEW EVERYDAY --- */

.learn {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.learn img {
    width: 60%;
    margin: 32px 24px;
}

.learn_right {
    display: flex;
    flex-flow: column wrap;
    width: 33%;
}

.title {
    font-size: 3.5vw;
    line-height: 4vw;
    font-weight: 900;
    color: #606060 !important;
    margin-bottom: 32px;
}

.subtitle {
    font-size: 1.75vw;
    line-height: 2.5vw;
    font-weight: 600;
    color: darkslategray;
    margin-bottom: 24px;
}

.comenzar {
    width: 85%;
    border: 1px solid #404040;
    background-color: #606060;
    padding: 8px 0;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.5vw;
}

/* --- IT DOESN'T HURT TO KEEP PRACTICING --- */

.hurt {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.hurt_left {
    display: flex;
    flex-flow: column nowrap;
    max-width: 60%;
    padding: 32px 24px;
}

.hurt_left img {
    width: 100%;
    margin-bottom: 32px;
}

.hurt_left_title {
    font-size: 3.4vw;
    font-weight: 900;
    color: #606060 !important;
    margin-bottom: 24px;
}

.hurt_left_text {
    color: #606060;
    width: 95%;
    font-size: 1.1vw;
    margin-bottom: 24px;
    line-height: 1.25rem;
}

.hurt_left_name {
    color: #404040;
    font-size: 1.1vw;
}

.hurt_right {
    display: flex;
    flex-flow: column nowrap;
    width: 36%;
    justify-content: center;
}

.recuadro, .recuadro_campus {
    display: flex;
    flex-direction: row nowrap;
    border: 0.05px solid #E0E0E0;
}

.recuadro_campus {
    background-color: #E0E0E0;
}

.info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 65%;
    line-height: 1.25rem;
}

.hurt_right img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.info_title {
    color: #404040;
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
}

.info_date {
    color: #606060;
    font-size: 1.1vw;
    margin-bottom: 8px;
}

.info_readmore {
    font-size: 1vw;
    font-display: normal;
    text-decoration: none;
}

/* --- START LEARNING --- */

.start {
    display: flex;
    flex-flow: column nowrap;
    background-color: lightgray;
}

.start_title {
    font-size: 3.4vw;
    font-weight: 900;
    color: #606060 !important;
    margin: 32px auto;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 72px;
    justify-content: space-evenly;
}

.cuadrito {
    width: 330.67px;
    background-color: white;
    margin-bottom: 32px;
    border: 0.5px solid #808080;
    box-shadow: 0px 0px 15px 0.5px #808080;
}

.cuadrito img {
    width: 100%;
}

.cuadrito_title {
    color: #404040;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 16px;
    letter-spacing: 0.5px;
}

.cuadrito_courses {
    text-transform: uppercase;
    color: #808080;
    font-size: 1.1vw;
    margin-bottom: 8px;
    margin-left: 16px;
}

.cuadrito_def {
    color: #808080;
    font-size: 1.1vw;
    margin-bottom: 24px;
    margin-left: 16px;
    width: 80%;
    line-height: 1.25rem;
}

/* --- THESIS EXHIBIT --- */




/* --- FOOTER --- */

footer {
    visibility: hidden;
}